<md-content  ng-if="insightResultsItemDetailController.showPleaseSelectLocaleMsg" class="md-padding view-content">
    <h4 class="md-display-2">{{'SELECT_LOCALE_SENTIMENT' | translate}}</h4>
</md-content>
<md-content class="md-padding view-content" ng-if="!insightResultsItemDetailController.showPleaseSelectLocaleMsg">
    <div layout="column" class="sentiment-container" layout-align="center center" layout-fill>

        <div class="sentiment-bar-chart">

            <sentiment-bar-chart
                item="insightResultsItemDetailController.item"
                current-locale="insightResultsItemDetailController.currentLocale">
            </sentiment-bar-chart>

            <hr class="sentiment-divider"/>
        </div>

        <a class="md-button md-default-theme md-primary" ng-click="insightResultsItemDetailController.showItemCommentsDialog()">{{'VIEW_ALL_COMMENTS' | translate}}</a>
    </div>

    <div class='word-count-bar-chart' ng-if="insightResultsItemDetailController.hasTopWords">
        <md-divider class="word-count-divider"></md-divider>
        <span class="primary-text top-word-label"> {{'TOP_WORDS' | translate | uppercase}}</span>
        <word-count-bar-chart
            top-words="insightResultsItemDetailController.topWords"
            positive-words="insightResultsItemDetailController.positiveWords"
            negative-words="insightResultsItemDetailController.negativeWords"
            ></word-count-bar-chart>
    </div>
    
    <div ng-if="!insightResultsItemDetailController.hasTopWords">
        <md-divider class="word-count-divider"></md-divider>
        <span class="primary-text top-word-label"> {{'NO_COMMENTS' | translate}}</span>
    </div>
</md-content>
