<md-dialog aria-label="{{ 'EDIT_WAVE' | translate }}">
    <md-toolbar id="editWaveToolbar" class="md-primary">
        <div class="md-subhead pad-left">
            <h3>
                <span>{{ 'EDIT_INSIGHT_WAVE' | translate }}</span>
            </h3>
        </div>
    </md-toolbar>

    <md-dialog-content class="wave-form-dialog" ng-controller="WaveEditDialogController as edit" class="md-padding">
        <form name="editWaveForm" ng-submit="edit.save(edit.wave)" novalidate>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>
                        {{ 'EDIT_NAME' | translate }}
                    </label>
                    <input id="editWaveName" type="text" name="editWaveName" required ng-maxlength="150" ng-model="edit.wave.name" placeholder="{{edit.wave.name}}">
                    <div ng-messages="editWaveForm.editWaveName.$error" multiple>
                        <div id="editWaveNameRequiredMsg" ng-message="required">{{ 'ERROR_INPUT_REQUIRED' | translate }}</div>
                        <div id="editWaveNameTooLongMsg" ng-message="maxlength">{{ 'ERROR_INPUT_TOO_LONG' | translate:'{ maxLength: "150" }' }}</div>
                    </div>
                </md-input-container>
            </div>
            <div class="action-row" layout="row" layout-align="end center">
                <md-button id="cancelEditWaveButton" type="button" ng-click="edit.cancel()" md-no-ink>
                    {{ 'CANCEL' | translate }}
                </md-button>
                <md-button id="submitEditWaveButton" type="submit" class="md-primary md-raised">
                    {{ 'SAVE' | translate }}
                </md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>
